<%- include("partials/header"); -%>

<div class="frontdetails">
    <h1>CORONA IN INDIA</h1>
    <p class="confirm"> TOTAL CASES:<b> <%=total%> </b></p>
    <p class="act"> ACTIVE:<b><%=active%></b></p>
    <p class="recover"> RECOVERED: <b><%=recovered%></b></p>
    <p class="death"> DEATH: <b><%=death%></b></p>
    <table id="coronadetails">
      <thread>
        <tr>
          <th>State</th>
          <th>Active</th>
          <th>New Infected</th>
          <th>Recovered</th>
          <th>Death</th>
        </tr>
      </thread>
      <tbody>
        <% dataset.forEach(function(data){ %>
        <tr>
          <td><%= data.region %></td>
          <td><%= data.totalInfected %></td>
          <td><%=data.newInfected%></td>
          <td><%=data.recovered%></td>
          <td> <%=data.deceased%></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div style="background-color: black;">
      <h3 style="color: white; padding-left: 20px;">Last Update on: <%=lastupdate %> </h3>
    </div>
</div>
    
  <%- include("partials/footer"); -%>
